@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Entities.DTOs.ReportDto
<h2>
    Report
</h2>
<form asp-action="Report" asp-controller="Report" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group">
            <input type="text" asp-for="ReportedBy" placeholder="Your Username" class="form-control" />
            <span asp-validation-for="ReportedBy" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <input type="text" class="form-control" asp-for="ReportedUser" placeholder="username of who will you report?" />
            <span asp-validation-for="ReportedUser" class="text-danger"></span>
        </div>
        <div>
            <input class="form-control" accept="image/png, image/gif, image/jpeg, image/jpg" type="file" asp-for="Photo" id="Photo" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark">Share</button>
        </div>
    </div>
</form>
