@model Entities.DTOs.RegisterDto
@{
    Layout = "_Layout"; // Ensure the layout is set
    ViewData["HideLayoutSections"] = true; // Indicate that layout sections should be hidden
}

<h1>Register</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6">
            <form class="form mt-5" asp-action="Register" method="post">
                @* Display error message *@
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }

                <div class="form-group">
                    <label for="firstName" class="text-dark">First Name:</label><br>
                    <input type="text" asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="lastName" class="text-dark">Last Name:</label><br>
                    <input type="text" asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="username" class="text-dark">Username:</label><br>
                    <input type="text" asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="email" class="text-dark">Email:</label><br>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="password" class="text-dark">Password:</label><br>
                    <input type="password" asp-for="Password" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label for="rePassword" class="text-dark">Confirm Password:</label><br>
                    <input type="password" asp-for="RePassword" class="form-control" autocomplete="off" />
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-dark btn-md" value="Register" />
                </div>

                <div class="text-right mt-2">
                    <a asp-action="Login" asp-controller="Auth" class="text-dark">Login here</a>
                    |
                    <a asp-action="Index" asp-controller="Home" class="text-dark"> Return Home</a>
                </div>
            </form>
        </div>
    </div>
</div>
